<!-- <div class="bg">
  <img src="../../assets/images/background.jpg" alt="">
    <div class="form-input">
      <h3> Home Page </h3>
      
      <h4>Make a lovely home page here </h4>
      <button (click)=navigate() class="primary-button" id="home"> Text Editor </button>
      <p> authenticated : {{authenticated}}</p>

      <div>
        <button routerLink="/new-exam">New Exam</button>
        <button (click)="signIn()" *ngIf="!authenticated">Sign In</button>
        <button (click)="signOut()" *ngIf="authenticated">Sign Out</button>
        <p *ngIf="authenticated">Hello, {{getProfile().name}}</p>
      </div>
    </div>
</div> -->
