<div *ngIf="!empty">
  <table class="styled-table">
    <thead>
        <tr>
            <th>Sentence</th>
            <th>Concern</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let exam of examsList">
            <td>{{exam.title}}</td>
            <td>{{exam.description}}</td>
        </tr>
    </tbody>
</table>
</div> 

<div *ngIf="empty">
  <h1 class="centre"> No Compliance Issues Detected </h1>
</div>

<div class="note">
  Please remember that AI findings are not always entirely accurate and compliance concerns should still be considered carefully.
</div>