<div>
  <p class="message2"> AI Compliance Detection Report </p>
</div>

<div class="chart-container" align="center" width="500px">
  <canvas  id="MyChart" >{{ chart }}</canvas>
</div>

<div *ngIf="examsList!=[] && !(examsList.length == 0)">
  <table class="styled-table">
    <thead>
        <tr>
            <th>Sentence</th>
            <th>Concern</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let exam of examsList">
            <td>{{exam.sentence}}</td>
            <td>{{exam.description}}</td>
        </tr>
    </tbody>
</table>
</div> 

<div *ngIf="examsList == [] || (examsList.length == 0)">
  <p class="message3"> No Compliance Issues Detected </p>
</div>

<div class="note">
  Please remember that AI findings are not always entirely accurate and compliance concerns should still be considered carefully.
</div>