.styled-table {
    margin: 15px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 450px;
}

.styled-table thead tr {
    background-color: #005198;
    color: #ffffff;
    text-align: center;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: #f0f5ff;
}