// centre the div
.center {
  padding-top: 20%;
  padding-left: 45%;
}

// create a loading icon
.loading-icon {
  border: 16px solid #e0edfb;
  border-radius: 50%;
  border-top: 16px solid #4788d2;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

// rotate the loading icon to indicate to the user that the page is loading
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}