<h2>Changes Request Form</h2>
<form id="changesRequestForm">
  <input class="user-input" id="email" type="email" name = "Apprentice email" placeholder="Apprentice email" required>

  <p class="note">The report, including comments, has been downloaded locally.  Please attach this to your email.</p>
  <div class="center">
    <button class="secondary-button" type="submit">Send Change Request</button>
    <button class="secondary-button" mat-button (click)="closeDialog()">Close</button>
  </div>
</form>