<div>
    <ejs-documenteditorcontainer 
      #document_editor 
      serviceUrl="https://ej2services.syncfusion.com/production/web-services/api/documenteditor/" 
      height="650px" 
      style="display:block" 
      [enableToolbar]=true
      [toolbarItems]=items
      (documentChange)="commentsOnly()"
      [showPropertiesPane]="false"
    > </ejs-documenteditorcontainer>

    <div>
        <button id="approve" (click)=approve()>Approve</button>    
        <button id="requestChanges" (click)=requestChanges()>Request Changes</button>
    </div>


</div>