<div>
  <nav-bar></nav-bar>
</div>

<div>
    <ejs-documenteditorcontainer 
      #documenteditor_default 
      serviceUrl="https://ej2services.syncfusion.com/production/web-services/api/documenteditor/" 
      height="650px" 
      style="display:block" 
      [enableToolbar]=true
      [toolbarItems]=items
      (documentChange)="commentsOnly()"
      [showPropertiesPane]="false"
    > </ejs-documenteditorcontainer>

  <div>
      <button class="primary-button" id="approve" (click)=approve()>Approve</button>    
      <button class="primary-button" id="requestChanges" (click)=requestChanges()>Request Changes</button>
  </div>
</div>