.approval-page-container {
    background-color: transparent;
}

.sidebar {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: aliceblue;
    width: 500px;
    margin-top: 45px;
    height: 715px;
    color: black;
}