<div class="container">
    <h1>Approval Request</h1>
    <form id="approvalRequestForm">
        <input id="app1" type="email" name = "Approver 1" placeholder="Approver 1" required>
        <input id="app2" type="email" name = "Approver 2" placeholder="Approver 2" required>
        <input id="app3" type="email" name = "Approver 3" placeholder="Approver 3" required>

        <input type="file" name="reportForSubmission" id="report" accept=".sfdt">
        <button type="submit">Send Email</button>
    </form>
</div>