<h2>Approval Form</h2>
<form id="approvalForm">
  <input class="user-input" id="email" type="email" name = "Apprentice Email" placeholder="Apprentice Email" required>
  <p></p>
  <p class="message">I confirm that... </p>
  <p class="message"><input type="checkbox" id="condition1" required>The report is fully compliant</p>
  <p class="message"><input type="checkbox" id="condition2" required>A disclaimer is included on page 1</p>
  <p class="message"><input type="checkbox" id="condition3" required>The document is marked as confidential</p>
  <p class="message"><input type="checkbox" id="condition4" required>Company names are not used throughout</p>
  <p class="message"><input type="checkbox" id="condition5" required>System names are not used throughout</p>
  <p class="message"><input type="checkbox" id="condition6" required>People and teams are not named throughout</p>
  <p class="message"><input type="checkbox" id="condition7" required>Code snippets and screenshots do not include proprietary information</p>
  <p class="message"><input type="checkbox" id="condition8" required>No sensitive or material non-public information is included</p>

  <p class="note">Please send the email in the pop up that opens to notify the apprentice.</p>
  <div class="center-button">
    <button class="secondary-button" type="submit">Approve</button>
    <button class="secondary-button" (click)="closeDialog()">Close</button>
  </div>
</form>