@import'../node_modules/@syncfusion/ej2-base/styles/material.css';
@import'../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import'../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import'../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import'../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import'../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import'../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import'../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import'../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';
@import "../node_modules/@syncfusion/ej2/material.css";

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  
  h2 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
    
  h3 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    text-align: center;
    padding: 10px;
  }
  
  h4{
    color: #4B6074;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%; 
    margin: 20px;  
  }
  
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
    
  body {
    margin: 2em;
  }
  
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  
  .form-input {
    background-color: #e6e6e6b5;
    width: 500px;
    height: fit-content;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
  }
  
  .user-input {
    height: 30px;
    width: 450px;
    margin-left: 20px;
  }
  
  .primary-button {
    color: #FFFFFF;
    background-color: #77B7F7;
    border-color: #77B7F7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 20px;
    margin-left: 200px;
    width: 100px;
    border-radius: 2px;
  }
  
  .secondary-button {
    color: #77B7F7;
    background-color:#e6e6e6b5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 20px;
    width: 100px;
    margin-left: 200px;
    border: 2px solid #77B7F7;
  }
  
  .bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  .bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    opacity: 85%;
  }