<div class="bg">
    <img src="../../assets/images/background.jpg" alt="">
    <div class="form-input">
        <h3> Register Here! </h3>
        
        <h4>Company Email Address: </h4>
        <input class="user-input" id="email">
        
        <h4>Password: </h4>
        <input class="user-input" type="password" id="password">
        
        <h4>Confirm Password: </h4>
        <input class="user-input" type="password" id="password confirmation">
        
        <h4>Role: </h4>
        <div class="role-options">
            <input type="radio" id="student" name="role" value="student" class="radiobtn">
            <label for="student">Student </label>
            <input type="radio" id="manager" name="role" value="manager" class="radiobtn">
            <label for="manager">Manager </label>
            <input type="radio" id="lecturer" name="role" value="lecturer" class="radiobtn">
            <label for="lecturer">Lecturer </label>
            <input type="radio" id="HR" name="role" value="HR" class="radiobtn">
            <label for="HR">HR </label>
        </div>
        
        <br>
        <button class="primary-button" id="register"> Register </button>
    </div>
</div>